<!DOCTYPE html>
<html lang="en">

<!-- Head tag -->
<%- partial('_partial/head') %>
<style>
    <% if (page["cdn"] === 'header-off'){%>
    header.intro-header{
        background-image: url('<%= page["header-img"] || config["post-default-img"]%>') ;
    }
    <%} else {%>
    header.intro-header{
        background-image: url('<%- page["header-img"]?config["cdn-url"]+page["header-img"]+config["clip-content"] : config["post-default-img"]%>')
    }
    <% } %>
</style>
<!-- hack iOS CSS :active style -->
<body ontouchstart="">
<%- partial('_partial/nav') %>
    <!-- Main Content -->
    <%- body %>
    <!-- Footer -->
    <%- partial('_partial/footer') %>
    <!--wechat title img-->
    <img class="wechat-title-img" src="<%= config['sidebar-avatar']%>">
</body>

</html>
