---
layout: layout
---

<!--only post-->
<% if (page['wechat-share']) { %>

<img class="wechat-title-img"
     src="<%- config['cdn-url'] %> <%= page['wechat-share'] || page['header-img'] %> <%- config['cdn-url'] ? config['clip-content'] : '' %>">
<% } else{ %>
<% if (page["cdn"] === 'header-off'){ %>
<img class="wechat-title-img" src="<%= page["header-img"] || config["post-default-img"] %>">
<% } else { %>
<img class="wechat-title-img"
     src="<%- page['header-img'] ? config['cdn-url'] + page["header-img"] : config["post-default-img"] %>">
<% } %>
<% } %>
<style>
    <% if (page["cdn"] === 'header-off'){%>
    header.intro-header {
        background-image: url('<%= page["header-img"] || config["post-default-img"]%>');
    }

    <%} else {%>
    header.intro-header {
        background-image: url('<%- page["header-img"]?config["cdn-url"]+page["header-img"]+config["clip-content"] : config["post-default-img"]%>')
    }

    <% } %>
</style>

<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-center">
                <div class="post-heading">
                    <h1><%= page.title %></h1>
                    <% if(page.subtitle) { %>
                    <h2 class="subheading"><%= page.subtitle %></h2>
                    <% } %>
                    <span class="meta">
                         作者 <%- page.author || config.author %>
                        <span>
                          日期 <%= page.date.format(config.date_format) %>
                         </span>
                    </span>
                    <div class="tags text-center">
                        <% page.tags.forEach(function(tag){ %>
                        <a class="tag" href="<%= config.root %>tags/#<%= tag.name %>"
                           title="<%= tag.name %>"><%= tag.name %></a>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="post-title-haojen">
        <span>
            <%- page.title %>
        </span>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <!-- Post Container -->
            <div class="col-lg-8 col-lg-offset-1 col-sm-9 post-container">
                <%- page.content %>
                <hr>
                <% if(config['duoshuo_share'] && config['duoshuo_username']) { %>
                <!-- 多说 Share start -->
                <div class="ds-share"
                     style="text-align: right"
                     data-thread-key="<%= page.path %>"
                     data-title="<%= page.title %>"
                     data-url="<%= page.permalink %>"
                     data-images="<%= page["header-img"] ? page.permalink + page["header-img"] : '' %>"
                     data-content="<%- truncate(strip_html(page.content), {
                         length: 50,
                         omission: '...'
                     }) %> | <%= config.SEOTitle %> ">
                    <div class="ds-share-inline">
                        <ul class="ds-share-icons-16">
                            <li data-toggle="ds-share-icons-more"><a class="ds-more" href="#">分享到：</a></li>
                            <li><a class="ds-wechat flat" href="javascript:void(0);" data-service="wechat">微信</a></li>
                            <li><a class="ds-weibo flat" href="javascript:void(0);" data-service="weibo">微博</a></li>
                            <li><a class="ds-douban flat" href="javascript:void(0);" data-service="douban">豆瓣</a></li>
                        </ul>
                        <div class="ds-share-icons-more">
                        </div>
                    </div>
                    <hr>
                </div>
                <!-- 多说 Share end-->
                <% } %>

                <ul class="pager">
                    <% if (page.prev){ %>
                    <li class="previous">
                        <a href="<%- config.root %><%- page.prev.path %>" data-toggle="tooltip" data-placement="top"
                           title="<%- page.prev.title %>">&larr; Previous Post</a>
                    </li>
                    <% } %>
                    <% if (page.next){ %>
                    <li class="next">
                        <a href="<%- config.root %><%- page.next.path %>" data-toggle="tooltip" data-placement="top"
                           title="<%- page.next.title %>">Next Post &rarr;</a>
                    </li>
                    <% } %>
                </ul>

                <% if(config['duoshuo_username']) { %>
                <!-- 多说评论框 start -->
                <div class="comment">
                    <div class="ds-thread"
                         data-thread-key="<%= page.path %>"
                         data-title="<%= page.title %>"
                         data-url="<%= page.permalink %>">
                    </div>
                </div>
                <!-- 多说评论框 end -->
                <% } %>

                <% if(config['disqus_username']) { %>
                <!-- disqus 评论框 start -->
                <div class="comment">
                    <div id="disqus_thread" class="disqus-thread"></div>
                </div>
                <!-- disqus 评论框 end -->
                <% } %>

            </div>

            <div class="hidden-xs col-sm-3 toc-col">
                <div class="toc-wrap">
                    <%- toc(page.content, {list_number: false}) %>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Sidebar Container -->

            <div class="
                col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                sidebar-container">

                <!-- Featured Tags -->
                <% if(config['featured-tags']) { %>
                <section>
                    <!-- no hr -->
                    <h5 class="text-center">
                        <a href="<%= config.root %>tags/">FEATURED TAGS</a>
                    </h5>
                    <div class="tags">
                        <% page.tags.forEach(function(tag){ %>
                        <a class="tag" href="<%= config.root %>tags/#<%= tag.name %>"
                           title="<%= tag.name %>"><%= tag.name %></a>
                        <% }) %>
                    </div>
                </section>
                <% } %>

                <!-- Friends Blog -->
                <% if(config.friends) { %>
                <div style="margin-top: 20px;">
                    <h5 class="text-center">FRIENDS</h5>
                    <ul class="list-inline text-center">
                        <% config.friends.forEach(function(friend){ %>
                        <li><a href="<%= friend.href %>"><%= friend.title %></a></li>
                        <% }); %>
                    </ul>
                </div>
                <% } %>
            </div>
        </div>

    </div>
</article>

<% if(config['duoshuo_username']) { %>
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User by Hux
    var _user = '<%= config['duoshuo_username'] %>';

    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user};
    (function () {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';
        ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
        || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
<% } %>
<% if(config['disqus_username']) { %>
<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "<%= config['disqus_username'] %>";
    var disqus_identifier = "<%= page.permalink %>";
    var disqus_url = "<%= page.permalink %>";

    (function () {
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
<% } %>
<% if(config['anchorjs']) { %>
<!-- async load function -->
<script>
    function async(u, c) {
        var d = document, t = 'script',
                o = d.createElement(t),
                s = d.getElementsByTagName(t)[0];
        o.src = u;
        if (c) {
            o.addEventListener('load', function (e) {
                c(null, e);
            }, false);
        }
        s.parentNode.insertBefore(o, s);
    }
</script>
<!-- anchor-js, Doc:http://bryanbraun.github.io/anchorjs/ -->
<script>
    async("http://cdn.bootcss.com/anchor-js/1.1.1/anchor.min.js", function () {
        anchors.options = {
            visible: 'always',
            placement: 'right',
            icon: '#'
        };
        anchors.add().remove('.intro-header h1').remove('.subheading').remove('.sidebar-container h5');
    })
</script>
<style>
    /* place left on bigger screen */
    @media all and (min-width: 800px) {
        .anchorjs-link {
            position: absolute;
            left: -0.75em;
            font-size: 1.1em;
            margin-top: -0.1em;
        }
    }
</style>
<% } %>

